---
import { Image } from 'astro:assets';
import contactData from '@data/contact.js';
---

<ul class="list">
  <li class="item">
    <a class="link" href={`mailto:${contactData.mail.email}`}>
      <Image class="img" src={contactData.mail.icon} alt="email icon svg" width="20" height="20" />
      { contactData.mail.title }
    </a>
  </li>
  <li class="item">
    <a class="link" href={contactData.linkedin.url} target="_blanck" rel="noreferrer">
      <Image class="img" src={contactData.linkedin.icon} alt="link icon svg" width="20" height="20" />
      { contactData.linkedin.title }
    </a>
  </li>
</ul>

<style>
.list {
  & .item {
    margin-bottom: 0.5rem;
  }

  & .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-light-gray);
    font-size: 0.9rem;
    font-weight: 600;
  }

  & .link:hover {
    color: var(--color-gray);
  }
  
  & .img {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
  }
}
</style>