:root {
  /* DIMENSIONS */
  /* ---------------------------------------------------------------- */
  --layout-max-width: 56rem;
  --layout-border-radius: 0.5rem;
  --aside-min-width: 17rem;

  /* COLORS */
  /* ---------------------------------------------------------------- */
  --transparent: "transparent";
  --black: rgb(46, 46, 46);
  --white: #fff;
  --color-gray: #a0aec0;
  --color-light-gray: #f5f5f5;
  --color-dark-gray: #455568;
  --color-bg-sidebar: #1d3441;
  --color-bg-content: #f5f5f5;
  --color-button: rgb(13, 108, 197);
  --color-button-hover: rgba(13, 108, 197, 0.6);

  /* FONTS */
  /* ---------------------------------------------------------------- */
  --minFontSize: 0.8rem;
  --maxFontSize: 1.1rem;
  --scalerFont: 1.1vw;

  --font-size-content: clamp(var(--minFontSize), var(--scalerFont), var(--maxFontSize));

  /* SPACING */
  /* ---------------------------------------------------------------- */

  --minGap: 1rem;
  --gap: 1.2rem;
  --maxGap: 1.5rem;

  --padding-content: clamp(var(--minGap), var(--gap), var(--maxGap));
}