---
import TitleSection from '@components/TitleSection/index.astro'
import PartingLine from '@components/PartingLine/index.astro';
import SectionInformation from './common/SectionInformation/index.astro'

interface SectionCourses {
  title: string;
  subtitle: string;
  year: number;
}

interface Props {
  data: SectionCourses[]
}

const { data } = Astro.props;
const nameSection = 'Cursos'
---
<section>
  <header class="header-section">
    <TitleSection
      tag="h3"
      text={nameSection}
      size={1.8}
      weight={600}
    />
    <PartingLine weight={0.15} />
  </header>
  <div>
    <SectionInformation data={data} widthButton={data.length > 5} />
  </div>
</section>

<style>
  .header-section {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    margin-top: 30px;
  }
</style>